@{
    ViewBag.Title = "Subscribe";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 top-pad2">
            <p class="bold-black text-center">Please subscribe or resubscribe to proceed to full loan details page.</p>

            @using (Html.BeginForm("Pay", "Subscription", FormMethod.Post))
            {
                @Html.AntiForgeryToken();
                @Html.Hidden("type", "kilo");
                <button type="submit" class="btn btn-success btn-block">Subscribe</button>
            }
        </div>
    </div>
</div>